*{
    padding: 0;
    margin: 0;
   
}

html,
body {
  height: 100%;
  min-height: 100%;

}

body {
  position: relative;
  background: #fff;
  color: #000000;
  height: 2000px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header-content{
    display: flex;
    justify-content: space-around;
    background: rgb(238, 159, 234);
    
    padding: 20px;
    position: fixed;
    z-index: 999;
    top:0px; 
    left:0px; 
    width:100%; 
      
}
.header-content h1{
    color:#fff
}
.burger{
    background-color: none;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
}



.profile-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.profile-contentbutton{
    background-color:rgb(238, 159, 234);
}
.profile-content.delete{
    display: none;
    background-color: rgb(238, 159, 234);
}

.profile-content img{
       width: 100px;
       object-fit: cover;
       height: 100px;
        border-radius: 1000px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
      
    }

#delete-profile{
   width: 250px;
    background-color:rgb(238, 159, 234) ;
    border-radius: 10px;
    color: #ffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;

}

.modal.open{
    display: block;
}



.modal__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    color: #151515;
    gap:20px;
    border-radius: 10px;
    font-size: 30px;
}
.modal__buttons{
    display: flex;
    gap: 30px;
    
}
.modal__buttons button{
    background-color: rgb(247, 176, 243);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.menu{
    background-color: aliceblue;
    width: 800px;
    right: 0;
    z-index: 999;
    position: fixed;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.menu.openburger{
    transform: translateX(0);
}

.closeBurger{
    background-color: rgb(200, 225, 226);
    width: 30px;
    height: 30px;
    display: flex;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cont{
    display: flex;
    background-color: rgb(238, 159, 234);
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    align-items: center;
    justify-content: start;
    gap: 20px;
    text-align: center;
    cursor: pointer;
    transition:  0.2s ease-in-out; 
    }

    .cont:hover{
        background-color: #fff;
      
    }


.content-left{
    background-color: rgb(8, 8, 8);
   padding: 20px;
    left: 0;
    position: fixed;
    height: 100%;
    top: 0;
    margin-top: 80px;
    width: 65px; 
    overflow: hidden; 
    transition: width 0.5s ease-in-out; 
    
}

.left-container{
    display: flex;
    flex-direction: column;
    gap:30px;
}


.User{
    display: flex;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
   
}


.User p {
    display: block; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
  }
  
  .User p.openLeft {
    opacity: 1; 
  }


  .text-content {
    height: 100%;
    

    transition: opacity 0.3s ease-in-out;
    opacity: 0; 
  }

  .text-content.openLeft {
    opacity: 1;
  }


  .accordion{
    display: flex;
  }

 .cont-accordiion{
    display: flex;
    flex-direction: column;
    gap: 50px;
 }

 .content-accordion{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 176, 243);
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    gap: 50px;
    height: 30px;
    cursor: pointer;
    
    transition: height 0.3s ease-in-out;
 }


 .header-accordion{
     background-color: rgb(247, 176, 243);
     color: #fff;
     border-radius: 10px;
     padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.main-accordion{
    transition: height 0.3s ease-in-out;
    background-color: #eecae2;
    color: #fff;
    overflow: hidden;
    h
}

.header-accordion img{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;

}

.content-accordion:hover{
    transition: 0.1s ease-in-out;
    background-color: #eecae2;
}

.modalTimesBody{
    margin-top: 100px;

}
.container{
     text-align: center;
}
.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 90px;
    margin: 30px;
    text-align: center;
}

.body1 img{
   width: 850px;
}

.textT{
    text-align: center;
}



.body2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.poloska {
    width: 100%;
    height: 5px;
    background-color: #000000;
    text-align: center;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 159, 234);
    color: #ffff;
    margin: 15% auto;
    padding: 20px;
    
    width: 80%;
    max-width: 400px;
    gap: 30px;
}

.close-button2 {
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}



#closeButton2 {
    display: none; /* Скрыть кнопку по умолчанию */
    margin-top: 20px;
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background-color: #888;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

#countdown2 {
    margin-top: 10px;
}
.body2_h4{
    text-align: center;
}
