h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: pink;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: black;
  }
  
  p {
    color: black;

  }
  
  a:hover {
    text-decoration: underline;
  }